/* --> "all elements" (a universal selector) : to make the website look alike in all browsers. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #ffffff;
    }


/* Element Selectors */
h1 {
    display: inline-block;
    font-size: 48px;
    }

h2 {
    margin-bottom: 20px;
    font-size: 36px;
    }

/* adding an extra margin below the h3 text in addition to centering the h3 headings */
h3 {
    /* margin-bottom: 10px; */
    text-align: center;
} 

/* differentiating color for 'seo' in Horiseon title up top by using important to override the default defined color in the universal selector section above in the css file */
#seo {
    color: #d9dcd6 !important;
    }

/* top nav menu margin background color, font, text color */
header {
    padding: 20px;
    background-color: #2a607c;
    }

/* formats the nav menu inline text up top right */
nav  {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    }

aside {
        margin-bottom: 32px;
        /* for a aesthetically pleasing website, it would be nice to include a:
    text-align: justify; */
    }

a {
/* removes the underline from the nav-menu text up top right */
    text-decoration: none; 
    }

/* setting paragragh text to 16px in size */
p {
    font-size: 16px;
    }

/* Background page color */
body {
    background-color: #d9dcd6 !important;
    }

/* up top right nav menu formatting for inline stylying */
nav ul li {
    display: inline-block;
    margin-left: 25px;
    }

/* the blue box background dimensions for the nav menu sections */
section {
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        background-color: #0072bb;
    }

    /* font family for both header and footer is same, important's used to overwrite the default universal font*/
header,footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    }

/* Formating the background image up top center of the website */
.background-image {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/digital-marketing-meeting.jpg");
        background-size: cover;
        background-position: center;
        }


/* Class Selectors for bottom left of page */
    /* define the height of the nav menu section's images */
article section img {
    max-height: 200px;
    }

/* define the location of the section's images */
section .float-left {
    float: left;
    margin-right: 25px;
    }
section .float-right {
    float: right;
    margin-left: 25px;
    }

/* style the text of the nav menu section's*/
.nav-menu-content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
/* for a aesthetically pleasing website, it would be nice to include a:
    text-align: justify; */
    }


/* Class Selectors for bottom right of page */
.side-menu-block {
        margin-right: 20px;
        padding: 20px;
        clear: both;
        float: right;
        width: 20%;
        height: 100%;
        background-color: #2589bd;
    }   

/* adds dimensions and a margin for the side menu images */
aside img {
            display: block;
            margin: 10px auto;
            max-width: 150px;
    }


/* Footer at the bottom of the page being blocked */
footer {
        padding: 30px;
        clear: both;
        text-align: center;
        display: none;
    }
footer .h2 {
        font-size: 20px;
    }